.LandingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #202020;
  color: #ffffff;
  text-align: center;
}

.Link {
  color:#3f51b5;
}
